.wrapper.row
  .spot-detail.col-md-6
    div
      h3
        | スポット名: #{@spot.name}
    div
      | スポット説明: #{@spot.body}
    div
      | トイレの数: 
      - if @spot.restroom_qty == nil
        | 0
      - else
        = @spot.restroom_qty
    div
      | wifi有無: 
      - if @spot.wifi == nil
        | 無
      - else
        = @spot.wifi
    div
      | 都道府県名: #{@spot.prefecture.name}
    div
      | タグ: #{@spot.spot_tag.tag.name}
    div
      | スポット設備: 
      - if @spot.spot_equipments.count != 0
        - @spot.spot_equipments.each do |spot_equipment|
          = spot_equipment.name
          | ,
      - else
        | 無
    div
      | レビュー全部: #{@spot.spot_reviews_count}
  .review-detail.col-md-6
    h3 Review
    - @spot.spot_reviews.each.with_index(1) do |spot_review, index|
      div= spot_review.comment
      .posted_at= spot_review.posted_at
