.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

section {
  overflow: auto;
}

.form-login {
  display: inline-block;
  width: 75%;
  margin-left: 100px;
  margin-right: 100px;
}

.login-button {
  margin-top: 5rem;
  margin-left: 125px;
  margin-right: 125px;
}

p {
  text-align: center;
}
